<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="restoran.Properties.Settings.Database2ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Database2.mdb"
            providerName="System.Data.OleDb" />
        <add name="restoran.Properties.Settings.Database2ConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\peces\source\repos\restoran\Database2.mdb"
            providerName="System.Data.OleDb" />
        <add name="restoran.Properties.Settings.bdConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\peces\source\repos\restoran\БД\bd.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>